<!DOCTYPE html>
<html lang="en">
<head>
    <title>SECRET</title>
</head>
<body>
    <form action="/saponihimym" method="POST" enctype="multipart/form-data">

        <div class="col-md-12">
            <div class="form-group">
                <label class="block-label sm-mb0">Enter Password</label>
                <input type="text" class="form-control boxes text-input input--full" id="topic"
                    name="secret" placeholder="write something here" required />
            </div>
            <div>
                <button>Submit</button>
            </div>
        </div>

</body>
</html>